<h1>Danh mục nhân viên</h1>

<mat-form-field color="primary">
    <mat-label>Mã nhân viên</mat-label>
    <input matInput>
    <mat-hint align="end">Không dấu, viết liền ^</mat-hint>
      </mat-form-field>
      
<mat-form-field color="primary" style="position: fixed; left:600px;width: 500px;">
      <mat-label>Tên nhân viên</mat-label>
    <input matInput>
</mat-form-field>
<br>
      <br>
      <br>
<mat-form-field style="width: 250px;">
    <mat-label>Phòng-Khoa</mat-label>
    <mat-select>
        <mat-option value="one">Phòng Kế toán</mat-option>
        <mat-option value="two">Phòng Kế hoạch tổng hợp</mat-option>
        <mat-option value="two">Phòng Nhân sự</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field style="position: fixed; left:600px; width: 200px;">
    <mat-label>Chức danh</mat-label>
    <mat-select>
        <mat-option value="one">Nhân viên tạp vụ</mat-option>
        <mat-option value="two">Nhân viên bảo vệ</mat-option>
        <mat-option value="two">Tổ trưởng bảo vệ</mat-option>
        <mat-option value="two">Giám đốc vận hành</mat-option>
    </mat-select>
</mat-form-field>
