<mat-toolbar color="primary">
  <button mat-icon-button (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Học Material</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <!-- mode: over, push, side -->
  <mat-sidenav [(opened)]="opened" mode="side">
    Start
  </mat-sidenav>
  <mat-sidenav-content>
    End
  </mat-sidenav-content>

</mat-sidenav-container>