<mat-toolbar color="primary">
  <button mat-icon-button (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Học Material</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="./">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <!-- mode: over, push, side -->
  <mat-sidenav [(opened)]="opened" mode="side">


    <mat-accordion>

      <mat-nav-list>
        <mat-list-item><a style="color: white; text-decoration:none"
            routerLink="/dashboard">DashBoard</a></mat-list-item>
      </mat-nav-list>

      <mat-expansion-panel style="background: transparent;">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: white;">Danh mục</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item><a style="color: white; text-decoration:none" routerLink="/danhmuc/phongban">Phòng
              ban </a></mat-list-item>
          <mat-list-item><a style="color: white; text-decoration:none" routerLink="/danhmuc/chucvu">Chức
              vụ</a></mat-list-item>
          <mat-list-item><a style="color: white; text-decoration:none" routerLink="/danhmuc/nhanvien">Nhân
              viên</a></mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel style="background: transparent;">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: white;">Mục 2</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item><a style="color: white; text-decoration:none"
              routerLink="/dashboard">DashBoard</a></mat-list-item>
          <mat-list-item><a style="color: white; text-decoration:none" routerLink="/danhmuc">Danh
              mục</a></mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>




  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>